* {
    font-family: 'Merriweather', serif;
}

/* cloned from homework one */

.figure {
    height: 800px;
    width: 500px;
    background-image: url("./Images/74091_169137416431427_8135311_n.png");
    background-size: cover;
    background-position: center;
}

body {
    /* gives the background a soft white neutral tone*/
    background-image: url("./Images/photo-1558591710-4b4a1ae0f04d.jpg");
    background-size: cover;
    background-position: center;
}

/* really makes that text pop */

p {
    font-weight: bold;
}

ul {
    font-weight: bold;
}

footer {
    color: antiquewhite;
}

img {
    max-width: 300px;
    border-radius: 10%;
}