* {
    font-family: 'Merriweather', serif;
}

/* cloned from homework one */

.figure {
    height: 800px;
    width: 500px;
    background-image: url("./Images/74091_169137416431427_8135311_n.png");
    background-size: cover;
    background-position: center;
}

body {
    /* gives the background a soft white neutral tone*/
    background-image: url("./Images/photo-1558591710-4b4a1ae0f04d.jpg");
    background-color: antiquewhite;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* really makes that text pop */

p {
    font-weight: bold;
}

ul {
    font-weight: bold;
}

.color {
    color: antiquewhite;
}

/* spreading images for portfolio */

img {
    display: block;
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /* Increase dimension of content */
    box-shadow: 0px 0px 10px 3px grey;
}

/* reduce height of image to create pleasant image growth effect */

#minimilist {
    max-height: 80%;
}

/* increase border radius for tokens for a cleaner asthetic */

.tokens {
    border-radius: 50%;
}

h5 {
    margin: 20px;
    text-align: center;
}

/* contact for creation */

hr {
    background: antiquewhite;
}

.contact-form {
    background: rgba(0, 0, 0, .6);
    color: antiquewhite;
    margin-top: 100px;
    /* forces footer in contact */
    margin-bottom: 20%;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px grey;
}

.footer {
    width: 100%;
    bottom: 0;
}